.parentContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 124px;
}

.circle {
    width: 31px;
    height: 31px;
    background-color: #d9d9d9;
    margin-right: 9px;
    border-radius: 50px;
}

.emailBox {
    width: 300px;
    height: 48px;
    border: none;
    border-top-left-radius: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
}

.sendEmail {
    background-color: #3e3e3e;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 136px;
    height: 48px;
    border: none;
}

.smallRectangle {
    display: flex;
    width: 143px;
    height: 45px;
    background-color: #d9d9d9;
}

.roundedRectangle {
    display: flex;
    background-color: #d9d9d9;
    margin-left: 4px;
}

.border-top-left {
    border-top-left-radius: 100px;
}

.border-top-right {
    border-top-right-radius: 100px;
}

.border-bottom-left {
    border-bottom-left-radius: 100px;
}

.border-bottom-right {
    border-bottom-right-radius: 100px;
}

.none {
    color: white
}