.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFFFF;
}

.largeBox {
  display: flex;
  width: 90%;
  height: 820px;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #D9D9D9;
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.smallerBox {
  width: 695px;
  align-items: center;
  justify-content: center;
  height: 489px;
  display:flex;
  flex-direction: column;
  margin: auto;
}

.button {
  width: 115px;
  position: relative;
  height: 59px;
  border-radius: 50px;
  border: 1px;
  color: black;
}

.horizontalRule {
  height: 2px;
  background-color: #D9D9D9;
  display: flex;
  margin-top: 20;
}

.smallText {
  font-weight: 400;
}

.roundedRectangleRow {
  display: flex;
  flex-direction: row;
}

.ruleSets {
  margin-left: 90px;
  margin-right: 90px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailsEmployers {
  display: flex;
  width: 1250px;
  height: 549px;
  flex-direction: row;
  margin-top: 137.06px;
}

.detailedEmployer {
  display: flex;
  flex-direction: column;
}